# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
RIMIKS.Backend/src/RIMIKS.Web.Host/App_Data/Logs/
RIMIKS.Backend/src/RIMIKS.Web.Mvc/App_Data/Logs/
RIMIKS.Backend/src/RIMIKS.Migrator/Logs/Logs.txt
RIMIKS.Frontend/.vscode/
RIMIKS.Backend/.dotnet/
